[Desktop Entry]
Name=IDLE 3
Comment=Integrated DeveLopment Environment for Python3
Exec=/usr/bin/idle3
Icon=/usr/share/icons/Numix-Circle/48@2x/apps/python3.5.svg
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/idle3.desktop
Path=
