[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/devid/Scrivania/Devuan GNU+Linux Free Operating System.html]
row=3
col=0

[/home/devid/Scrivania/Devuan GNU+Linux Free Operating System_files]
row=4
col=0

[Cestino]
row=2
col=0

[/]
row=1
col=0

[/home/devid]
row=0
col=0

