[Desktop Entry]
Name=Heroic Games Launcher
Exec=heroic %U
Terminal=false
Type=Application
Icon=heroic
StartupWMClass=Heroic
Comment=Game launcher for Epic, GOG and Amazon
GenericName=Game launcher for Epic, GOG and Amazon
MimeType=x-scheme-handler/heroic;
Categories=Game;
X-XFCE-Source=file:///usr/share/applications/heroic.desktop
